openapi: 3.2.0
info:
  title: v1 by useapi.net Tempolor API
  version: 1.0.0
  description: 'TemPolor API v1 by useapi.net


    ---

    **Updated:** March 21, 2026'
  contact:
    name: useapi.net support
    email: support@useapi.net
    url: https://useapi.net/docs/support
  x-derived-from: https://useapi.net/assets/postman/tempolor-v1.json
servers:
- url: https://api.useapi.net/v1/tempolor
security:
- bearerAuth: []
tags:
- name: tempolor
  description: TemPolor API v1 by useapi.net
paths:
  /accounts:
    get:
      operationId: getAccounts
      summary: accounts
      description: Retrieve TemPolor accounts information.
      tags:
      - tempolor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
    post:
      operationId: postAccounts
      summary: accounts
      description: Create or update TemPolor API account.
      tags:
      - tempolor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /accounts/{user_id}:
    get:
      operationId: getAccountsByUserid
      summary: accounts/
      description: Retrieve TemPolor account information.
      tags:
      - tempolor
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
    delete:
      operationId: deleteAccountsByUserid
      summary: accounts/
      description: Delete TemPolor account.
      tags:
      - tempolor
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /music/song:
    post:
      operationId: postMusicSong
      summary: music/song
      description: Create music with vocals
      tags:
      - tempolor
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                prompt:
                  type: string
                lyrics:
                  type: string
                model_song:
                  type: string
                artistVoiceItemId:
                  type: string
                clonedVoiceItemId:
                  type: string
                midiItemId:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
                maxJobs:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /music/instrumental:
    post:
      operationId: postMusicInstrumental
      summary: music/instrumental
      description: Create instrumental music
      tags:
      - tempolor
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                prompt:
                  type: string
                model_instrumental:
                  type: string
                tonality:
                  type: string
                bpm:
                  type: string
                chord:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
                maxJobs:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /music/stems-splitter:
    post:
      operationId: postMusicStemsSplitter
      summary: music/stems-splitter • use Body » binary to upload audio file
      description: Split audio into stems
      tags:
      - tempolor
      parameters:
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: Optional when only one tempolor/accounts configured. However, if you have multiple accounts configured, this parameter becomes required.
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /music:
    get:
      operationId: getMusic
      summary: music
      description: Retrieve generated music
      tags:
      - tempolor
      parameters:
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: Optional when only one tempolor/accounts configured. However, if you have multiple accounts configured, this parameter becomes required.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Optional. Pagination cursor for fetching next page of results.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /music/{job_id}:
    get:
      operationId: getMusicByJobid
      summary: music/
      description: Retrieve music generation job status
      tags:
      - tempolor
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
    delete:
      operationId: deleteMusicByJobid
      summary: music/
      description: Delete generated music
      tags:
      - tempolor
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /music/download/{job_id}:
    get:
      operationId: getMusicDownloadByJobid
      summary: music/download/
      description: Download generated music
      tags:
      - tempolor
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
      - name: file_format
        in: query
        required: false
        schema:
          type: string
        description: 'Optional, format of the generated music. Supported values: mp3 (default), wav (higher quality), stems (ZIP archive with separated stems).'
        example: mp3
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /music/artist-voices:
    get:
      operationId: getMusicArtistVoices
      summary: music/artist-voices
      description: List artist voices
      tags:
      - tempolor
      parameters:
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: Optional when only one tempolor/accounts configured. However, if you have multiple accounts configured, this parameter becomes required.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Optional. Pagination cursor for fetching next page of results.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /music/cloned-voices:
    get:
      operationId: getMusicClonedVoices
      summary: music/cloned-voices
      description: List cloned voices
      tags:
      - tempolor
      parameters:
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: Optional when only one tempolor/accounts configured. However, if you have multiple accounts configured, this parameter becomes required.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Optional. Pagination cursor for fetching next page of results.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
    post:
      operationId: postMusicClonedVoices
      summary: music/cloned-voices • use Body » binary to upload audio file
      description: Upload voice sample for cloning
      tags:
      - tempolor
      parameters:
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: Optional when only one tempolor/accounts configured. However, if you have multiple accounts configured, this parameter becomes required.
      - name: name
        in: query
        required: true
        schema:
          type: string
        description: Required, specify a name for your cloned voice.
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /music/cloned-voices/{clonedVoiceItemId}:
    delete:
      operationId: deleteMusicClonedVoicesByClonedvoiceitemid
      summary: music/cloned-voices/
      description: Delete cloned voice
      tags:
      - tempolor
      parameters:
      - name: clonedVoiceItemId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /music/midi:
    get:
      operationId: getMusicMidi
      summary: music/midi
      description: List uploaded MIDI files
      tags:
      - tempolor
      parameters:
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: Optional when only one tempolor/accounts configured. However, if you have multiple accounts configured, this parameter becomes required.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Optional. Pagination cursor for fetching next page of results.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
    post:
      operationId: postMusicMidi
      summary: music/midi • use Body » binary to upload MIDI file
      description: Upload MIDI file
      tags:
      - tempolor
      parameters:
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: Optional when only one tempolor/accounts configured. However, if you have multiple accounts configured, this parameter becomes required.
      - name: name
        in: query
        required: true
        schema:
          type: string
        description: Required, specify a name for your MIDI file.
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /music/midi/{midiItemId}:
    delete:
      operationId: deleteMusicMidiByMidiitemid
      summary: music/midi/
      description: Delete MIDI file
      tags:
      - tempolor
      parameters:
      - name: midiItemId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /scheduler:
    get:
      operationId: getScheduler
      summary: scheduler
      description: List scheduled jobs
      tags:
      - tempolor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /scheduler/available:
    get:
      operationId: getSchedulerAvailable
      summary: scheduler/available
      description: Retrieve available capacity
      tags:
      - tempolor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /scheduler/{job_id}:
    delete:
      operationId: deleteSchedulerByJobid
      summary: scheduler/
      description: Cancel a running job
      tags:
      - tempolor
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'useapi.net API token. Header: `Authorization: Bearer user:<number>-<unique-string>`. Use the complete token including the `user:` prefix.'
externalDocs:
  description: tempolor documentation
  url: https://useapi.net/docs/api-tempolor-v1
