openapi: 3.2.0
info:
  title: InsightFaceSwap API v1 by useapi.net Faceswap API
  version: 1.0.0
  description: Experimental REST API for InsightFaceSwap Discord Bot by Picsi.Ai.
  contact:
    name: useapi.net support
    email: support@useapi.net
    url: https://useapi.net/docs/support
  x-derived-from: https://useapi.net/assets/postman/faceswap-v1.json
servers:
- url: https://api.useapi.net/v1/faceswap
security:
- bearerAuth: []
tags:
- name: Face Swap
  description: InsightFaceSwap API v1 by useapi.net
paths:
  /account:
    get:
      operationId: getAccount
      summary: faceswap/account
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /account/{channel_id}:
    get:
      operationId: getAccountByChannelid
      summary: faceswap/account/
      tags:
      - Face Swap
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
    post:
      operationId: postAccountByChannelid
      summary: faceswap/account/
      tags:
      - Face Swap
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                discord:
                  type: string
                server:
                  type: string
                channel:
                  type: string
            example:
              discord: '{{discord-token}}'
              server: '{{server-id}}'
              channel: '{{channel-id}}'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
    delete:
      operationId: deleteAccountByChannelid
      summary: faceswap/account/
      tags:
      - Face Swap
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /listid:
    post:
      operationId: postListid
      summary: faceswap/listid
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                channel:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /saveid:
    post:
      operationId: postSaveid
      summary: faceswap/saveid
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                channel:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
                idname:
                  type: string
                image:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /swapid:
    post:
      operationId: postSwapid
      summary: faceswap/swapid
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                channel:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
                idname:
                  type: string
                image:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /setid:
    post:
      operationId: postSetid
      summary: faceswap/setid
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                channel:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
                idname:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /swap:
    post:
      operationId: postSwap
      summary: faceswap/swap
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                channel:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
                saveid_idname:
                  type: string
                saveid_image:
                  type: string
                swapid_idname:
                  type: string
                swapid_image:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /inswapper:
    post:
      operationId: postInswapper
      summary: faceswap/inswapper
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                channel:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
                targetMessageId:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /picsi:
    post:
      operationId: postPicsi
      summary: faceswap/picsi
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                channel:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
                options:
                  type: string
                source_image:
                  type: string
                target_image_gif_or_video:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /changebg:
    post:
      operationId: postChangebg
      summary: faceswap/changebg
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                channel:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
                options:
                  type: string
                a_background_photo_of:
                  type: string
                image:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /headshot:
    post:
      operationId: postHeadshot
      summary: faceswap/headshot
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                channel:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
                options:
                  type: string
                prompt:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /jobs/:
    get:
      operationId: getJobs
      summary: faceswap/jobs/?jobid=
      tags:
      - Face Swap
      parameters:
      - name: jobid
        in: query
        required: true
        schema:
          type: string
        example: <jobid>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /jobs/cancel/:
    get:
      operationId: getJobsCancel
      summary: faceswap/jobs/cancel/?jobid=
      tags:
      - Face Swap
      parameters:
      - name: jobid
        in: query
        required: true
        schema:
          type: string
        example: <jobid>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /jobs:
    get:
      operationId: getJobs2
      summary: faceswap/jobs
      tags:
      - Face Swap
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /delid:
    delete:
      operationId: deleteDelid
      summary: faceswap/delid
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                channel:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
                idname:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
  /delall:
    delete:
      operationId: deleteDelall
      summary: faceswap/delall
      tags:
      - Face Swap
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                channel:
                  type: string
                replyUrl:
                  type: string
                replyRef:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request — invalid or missing parameter
        '401':
          description: Unauthorized — invalid useapi.net API token
        '429':
          description: Too Many Requests — see the Retry-After header
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'useapi.net API token. Header: `Authorization: Bearer user:<number>-<unique-string>`. Use the complete token including the `user:` prefix.'
externalDocs:
  description: faceswap documentation
  url: https://useapi.net/docs/api-faceswap-v1
